.tutoring-section a {
    display: inline-block;
    margin: 1rem;
    padding: 1rem 2rem;
    background: var(--accent-color);
    color: #000;
    border-radius: 8px;
    font-weight: bold;
    transition: background 0.3s ease;
    text-decoration: none;
}

.tutoring-section a:hover,
.gallery-buttons a:hover {
    background-color: #17c5b5;
    transform: scale(1.05);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    color: #000;
}


.tutoring-section a,
.gallery-buttons a {
    transition: all 0.3s ease;
}